<template>
  <div >
    <!-- banner -->
    <img :src="bnerImg" class="d-block w-100" alt="...">
  </div>
</template>

<script>
export default {
  name: 'banner',
  props:['bnerImg'],
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/*------------------
  Banner
---------------------*/
img{
  height: 100%;
}
</style>
