<template>
  <div class="bg-light" style="height: 350px;">
   <a @click.prevent="handleClick" href="detail" class="text-dark">
    <img :src="cardImgUrl" alt="">
    <p class="font-weight-bold mb-2 mt-2 text-wrape pr-2 pl-2">{{ItemName}}</p>
    <p class="font-weight-bold mb-0 mt-2 prc pr-2 pl-2"> <small class="text-dark font-weight-bold">Rs.</small>{{price}}</p>
    <!-- <small class="text-muted mr-3" ><del class=" mr-3">{{del}}</del><strong >{{offer}}</strong></small> -->
  </a>
  </div>
</template>

<script>
export default {
  name: 'cards',
  props:['price','del','offer','cardImgUrl','ItemName'],
  data () {
    return {

    }
  },
  methods:{

    handleClick()
    {
      this.$emit('click');
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
img{
  width: 100%;
  height: 250px;
}
.prc{
  font-size: 15px;
}
.text-wrape{
    font-size: 15px;
    color: #353434;
    text-transform: capitalize;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
</style>
