<template>
  <div >
  <a href="" class="text-dark text-center">
    <img :src="catCardImgUrl" class="w-100 rounded-circle border shadow" alt="">
    <h6 class="pt-2 font-weight-bold">{{category}}</h6>

  </a>
  </div>
</template>

<script>
export default {
  name: 'catCard',
  props:['category','catCardImgUrl'],
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
img{
  width: 100%;
  height: auto;
}
.prc{
  font-size: 18px;
}
</style>
