<template>
  <div>
    <div class=" mt-5">
    <h5 class=" font-weight-bold mb-3 text-underline">{{exHeading}}</h5>
    <div class="mainRowScroll pt-2">
      <div class="p-1 cardsStyling p-1"  v-for="(data,index) in productData" :key="index" >
        <cards  @click="handleDetail(index)"  :price="data.price" :del="data.price" :ItemName='data.title'
        :cardImgUrl="data.feature_photo" ></cards>

      </div>

    </div>
    </div>
  </div>
</template>


<script>
import cards from '@/components/cards';
export default {
  name: 'deals',

  mounted(){
    this.$store.dispatch('loadProductData');
    },
  components:{cards},
  computed:{
    productData(){
        return this.$store.state.productDetail.productData;
        },
  },
  props:['dealHeading','exHeading','seen','hasError','isActive'],
  data () {
    return {

    }
  },
  methods:
  {
    handleDetail(index)
    {
      var id = this.productData[index].id;
      var currentPath = this.$route.path;
      this.$router.push("/product/"+id);
      if(currentPath.startsWith("/product")){
        this.$router.go();
      }

    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mainRowScroll::-webkit-scrollbar {
    height:5px;
    border: 1px solid rgb(221, 221, 223);
    background: rgba(0, 0, 0, 0.185);
}
.mainRowScroll::-webkit-scrollbar-thumb {
    background: #c62828;
    border-radius: 30px;
}
.cardsStyling{
  width: 250px;
  display: inline-block;
}
.mainRowScroll{
  overflow-x: auto;
  white-space: nowrap;
}
.text-underline{
  text-decoration: underline;
}
</style>
