<template>
  <div style="font-size: 13px;">
    <div class="text-right">
        <!-- <p class="text-muted">eBay item number: <span class="text-dark">{{itemNumber}}</span></p> -->
    </div>
    <p>Seller assumes all responsibility for this listing.</p>
    <p><span class="text-muted">Last updated on </span>{{lastDate}}</p>
    <div class="border p-3 mt-3">
      <h6 class="font-weight-bold text-dark">Item specifics</h6>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-3 text-right">Product Condition:</div>
            <div class="col-9 text-truncate ">{{conditionDetail}}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-3 text-right">Company Name:</div>
            <div class="col-9 text-truncate ">{{UPCDetail}}</div>


            <!-- <div class="col-3 text-right">Company Description:</div>
            <div class="col-9 text-truncate ">{{MPNDetail}}</div> -->
          </div>
        </div>
      </div>
      <div class=" pt-3" >
        <h4 class="text-danger text-capitalize pl-5 ml-4 pt-3"><u>{{productName}}</u></h4>
        <div class="row pt-3">
          <div class="col-md-1 p-0 d-md-block d-none"></div>
          <div class="col-md-5">
            <img :src="dImg" alt="" class="border shadow">
          </div>
          <div class="col-md-6">
            <h4>Description</h4>
            <ul  class='mt-3 pl-0'>
              <li class="pb-1 pl-2" v-for="(onfo,index) in onfos" :key="index"  style=" font-size:15px; list-style-type: none;">{{onfo}}</li>
            </ul>
          </div>
        </div>
        <div class="row w-75 border bg-white  ml-auto mr-auto mt-5 p-4">

          <div class="col-md-6" v-for="(specification,index) in specifications" :key="index">
            <div class="row">
              <div class="col-6 text-right">{{specification.key}} <span class=" pl-4">:</span></div>
              <div class="col-6">{{specification.value}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'description',
  props:['itemNumber','lastDate','conditionDetail','UPCDetail','EANDetail','BrandDetail','dImg','onfos','MPNDetail','productName'],
  data () {
    return {
      specifications:[
        {
          key:"Condition",
          value:'New'
        },
        {
          key:"Condition",
          value:'New'
        },
        {
          key:"Condition",
          value:'New'
        },
        {
          key:"Condition",
          value:'New'
        },
        {
          key:"Condition",
          value:'New'
        },
        {
          key:"Condition",
          value:'New'
        }
      ]
    }
  },
  methods:{
    handleClick()
    {
      this.$emit('click');
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
img{
  width: 100%;
  height: auto;
}
.prc{
  font-size: 18px;
}
p{
    margin:8px;
}
.w-85{
  width: 85%;
}
</style>
