<template>
  <div class="container-fluid bg-light pb-5">
    <div class="row pt-5 ">
      <div class="col-lg-4 col-sm-6 p-0">
        <productImg :PDimg='productDataWith.feature_photo' :futerImgs='productDataWith.photos' ></productImg>
      </div>
      <div class="col-lg-5 col-sm-6 ">
        <productD :productName='productDataWith.title' :update='update' :Condition='productDataWith.condition_name' :Models='productDataWith.model' :Quantity='productDataWith.quantity' :pPrice='productDataWith.price' :apox='apox'></productD>
      </div>
      <div class="col-lg-3 ">
        <div class="row">
          <div class="col-lg-12 col-md-6 p-1">
            <div class="bg-white p-2 border">
              <h5>Shop with confidence</h5>

              <div class="row">
                  <div class="col-3">
                  <img src="https://pbbeautyschool.com/wp-content/uploads/2014/06/star-student.png" class="" alt="">
                  </div>
                  <div class="col-9">
                    <h6 class="hedingS mb-2">Top Rated Plus</h6>
                    <p class="paraS">Trusted seller, fast shipping, and easy returns</p>
                  </div>
                  <div class="col-3 pl-4">
                  <img src="https://purepng.com/public/uploads/large/purepng.com-dollar-signobjectsdollar-signmoney-cash-dollar-sign-object-currency-631522323964d8wuo.png" class="w-75" alt="">
                  </div>
                  <div class="col-9">
                    <h6 class="hedingS mb-2">eBay Money Back Guarantee</h6>
                    <p class="paraS">Get the item you ordered or get your money back</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-6 p-1">
            <div class="bg-white mt-lg-3 p-2 border">
              <h6 class="font-weight-bold">Seller information</h6>
              <div class="fontSize">
                <a href="" @click.prevent="handleClick" style="    font-size: 14px;"> {{sellerName}} </a><br>
                <small >{{PositiveRAtting}}% Positive feedback</small><br>
                <a href="" @click.prevent="handleClick">Contact seller</a><br>
                <a href="" @click.prevent="handleClick">Visit store</a><br>
              </div>

            </div>
          </div>
        </div>


      </div>
    </div>
    <deals class="mt-5" :exHeading="dealsDetail.popular"></deals>

    <description v-if="productDataWith.company != null" class=" mt-5  mb-5 bg-white border p-5 pt-sm-3"
    :lastDate="lastDate"  :itemNumber="itemNumber" :conditionDetail="productDataWith.condition"
    :BrandDetail="productDataWith.brand"    :productName='productDataWith.title' :UPCDetail="productDataWith
    .company.company_name"  :dImg='productDataWith.feature_photo' :onfos="[productDataWith.description]"></description>

  <deals class="mt-5 mb-5" :exHeading='dealsDetail.offersToday'></deals>
  <!-- <deals class="mt-5 mb-5" :exHeading='dealsDetail.explor'></deals> -->
  </div>
</template>


<script>
 import productImg from '@/components/productImg';
 import productD from '@/components/productD';
 import deals from '@/components/deals';
 import description from '@/components/description';

export default {
  name: 'detailProduct',
  components:{productImg,productD,deals,description},
  created(){
     this.$store.dispatch('loadProductDataWith',this.$route.params.id);
  },
  computed:{

    productDataWith(){
    return this.$store.state.productDetail.productDataWith
    },

     dealsDetail(){
       var obj={
        explor:'Related Sponsored Items',
        offersToday:'Today,s offer',
        popular:'Similar sponsored items',
       }
       return obj;
     }

  },
  props:["imgUrl"],
  data () {
    return {
      sellerName:'Aqeel HANIF',
      PositiveRAtting:'100',


      update:'7 sold in last 24 hours',


      pPrice:'GBP 1.38',
      apox:'Approximately US $1.80',
      itemNumber:'7283547291',
      lastDate:'Apr 19, 2019 15:50:26 PDT',
      conditionDetail:'New: A brand-new, unused, unopened, undamaged item in its original packaging (where packaging i',
      UPCDetail:'Does not apply',

    }
  },
  methods:
  {
    handleDetail()
    {
      var id = this.productDataWith.company.id;
      this.$router.push('/company/'+id+'/product')
    },
    handleClick()
    {
      this.$router.push("/vendorStore/"+this.productDataWith.user_id);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
img{
  width: 100%;
  height: auto;
}
.hedingS{
  font-size:14px;
}
.paraS{
  font-size:12px;
  line-height: 14px;
}
.fontSize a{
  font-size: 11px;
}
.fontSize {
  font-size: 13px;
}
</style>
