<template>
  <div class="hello">
     <!-- header -->
    <header class="header-section shadow">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 text-center text-lg-left">
						<!-- logo -->
						<a @click.prevent="handleClickIndex()" href="" class="site-logo">
							Deal Done
						</a>
					</div>
					<div class="col-xl-6 col-lg-5">
						<form class="header-search-form">
							<input type="text" placeholder="Search on deal done ....">
							<button><i class="fa fa-search"></i></button>
						</form>
					</div>
					<div class="col-xl-4 col-lg-5">
						<div class="user-panel">
							<div class="up-item">
								<i class="fa fa-user"  aria-hidden="true"></i>
								<a  @click.prevent="handleClick" >Sign  In </a> or <a  @click.prevent="handleClickSignUp()">Create Account</a>
							</div>
							<div class="up-item">
								<div class="shopping-card">
									<i  class="fa fa-shopping-bag" aria-hidden="true"></i>
									<span>0</span>
								</div>
								<a href="#">Shopping Cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </header>
  </div>
</template>

<script>
export default {
  name: 'myHeader',
  data () {
    return {

    }
  },
  methods:{
    handleClickIndex()
    {
      this.$router.push("/");
    },
    handleClick()
    {
      this.$router.push("/signIn");
    },
    handleClickSignUp()
    {
      this.$router.push("/signUp");
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Tangerine');
</style>

<style scoped>
.header-top {
    padding: 9px 0 1px;
}

.site-logo {
	display: inline-block;
    font-family: 'Tangerine', cursive;
    font-size: 6vh;
    color: #ce0c0c;
}
.header-search-form {
    width: 100%;
    position: relative;
    padding: 0px 10px;
    margin-top: 6px;
}

.header-search-form input {
	width: 100%;
	height: 44px;
	font-size: 14px;
	border-radius: 50px;
  border: 2px solid transparent;
	padding: 0 19px;
	background: #f0f0f0;
}

.header-search-form button {
    position: absolute;
    height: 100%;
    right: 18px;
    top: -1px;
    font-size: 20px;
    color: #000000ab;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-weight: normal;
}

.user-panel .up-item {
	display: inline-block;
	font-size: 14px;
}

.user-panel .up-item i {
	font-size: 22px;
}

.user-panel .up-item a {
	font-size: 14px;
	color: #000;
}

.user-panel .up-item:first-child {
	margin-right: 29px;
}

.shopping-card {
	display: inline-block;
	position: relative;
}

.shopping-card span {
	position: absolute;
	top: -4px;
	left: 100%;
	height: 16px;
	min-width: 16px;
	color: #fff;
	font-size: 13px;
	background: #f51167;
	text-align: center;
	border-radius: 30px;
	padding: 0 2px;
	margin-left: -7px;
}
.user-panel {
    margin-top: 18px;
}
form.header-search-form input:focus {
    outline: 1px;
    border: 2px solid #0081d466;
}
</style>
