<template>
  <div class="hello">
    <!-- <image-uploader
        :preview="true"
        :className="['fileinput', { 'fileinput--loaded': hasImage }]"
        capture="environment"
        :debug="1"
        doNotResize="gif"
        :autoRotate="true"
        outputFormat="verbose"
        @input="setImage"
      >
        <label for="fileInput" slot="upload-label">
          
          <span class="upload-caption">{{
            hasImage ? "Replace" : "Click to upload"
          }}</span>
        </label>
      </image-uploader> -->
  </div>
</template>

<script>
// export default {
//   name: 'HelloWorld',
//   data () {
//     return {
//       msg: "Vue Image Upload and Resize Demo",
//       hasImage: false,
//       image: null
//     }
//   },
//   methods: {
//     setImage: function(output) {
//       this.hasImage = true;
//       this.image = output;
//       console.log(this.image);
//     }
//   }
// }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
} */
</style>
