<template>
  <div >
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="http://njmdr.co.in/themes/brave11/img/ecommerce/slider/1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="http://www.jumokart.com/wp-content/uploads/2019/02/banner1-1350x570.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://www.softwarecreatives.com/assets/images/ibg/in-img-5.jpg" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="container mt-4 pt-3 mb-4">
      <h3 class="d-inline mr-2  font-weight-bold"><a >{{dealHeading}}</a></h3><h6 v-if="seen" class="d-inline arrowHover"  style="font-size:12px;"><a class="text-muted">See All</a><i class="fa fa-arrow-right font-weight-light ml-2 " aria-hidden="true"></i></h6>
     </div>
      <div class="mainRowScroll">
        <div class="p-1 cardsStyling"  v-for="(data,index) in productData" :key="index" >
          <cards  @click="handleDetail(index)"  :price="data.price" :del="data.price" :ItemName='data.title'
          :cardImgUrl="data.feature_photo" ></cards>

        </div>
        <!-- <div class="p-1 cardsStyling text-white h2" style="background: linear-gradient(141deg, #000000 0%, #5f6161 51%, #22292c 75%);">
          See More Itms
        </div> -->
      </div>
    <div class="container">
      <div class=" mt-5">
        <h3 class="font-weight-bold"><a >{{catgryHeading}}</a></h3>
        <div class="row mt-3 mb-5">
          <div class="col-lg-2 col-md-3 col-sm-4 col-6 m-auto p-1" v-for="(Cdata,index) in categoryData" :key="index" >
            <catCard :category="Cdata.category_name" :catCardImgUrl=" Cdata.logo"></catCard>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import cards from '@/components/cards';
import catCard from '@/components/catCard';
export default {
  name: 'index',
  mounted(){
    this.$store.dispatch('loadProductData');
     this.$store.dispatch('loadProducData');
    },
  components:{catCard,cards},
  computed:{
    productData(){
        return this.$store.state.productDetail.productData;
        },
    categoryData(){
            return this.$store.state.catgryDetail.categoryData;
        }
  },
  data () {
    return {
      dealHeading:'Daily Deals',
      catgryHeading:'Explore popular categories',
      seen:true
    }
  },
  methods:  {
    handleDetail(index)
    {
      var id = this.productData[index].id;
      var currentPath = this.$route.path;
      this.$router.push("/product/"+id);
      if(currentPath.startsWith("/product")){
        this.$router.go();
      }

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.carousel-item img{
  height: 400px;
}
.cardsStyling{
  width: 250px;
  display: inline-block;
}
.mainRowScroll{
  overflow-x: auto;
  white-space: nowrap;
}
.arrowHover:hover i{
  margin-left: 15px !important;
}
.mainRowScroll::-webkit-scrollbar {
    height:5px;
    border: 1px solid rgb(221, 221, 223);
    background: rgba(0, 0, 0, 0.185);
}
.mainRowScroll::-webkit-scrollbar-thumb {
    background: #c62828;
    border-radius: 30px;
}
</style>
