<template>
  <div class="productD pb-3">
    <h5 class="font-weight-bold Pheding mb-0 text-uppercase">{{productName}}</h5>
    <p class="font-weight-bold text-danger mb-2"><i class="fa fa-fire" aria-hidden="true"> </i> {{update}}</p>
    <div class="w-100 border-bottom"></div>
    <div class="aboutP ml-5 mt-3 mb-5">
      <p class="text-muted mb-4">Condition :<span class="font-weight-bold ml-3 text-dark pl-2"> {{Condition}}</span></p>
      <div class="row">
        <!-- <div class="col-2 text-right p-0"><p class="text-muted pr-3">Model :</p></div> -->
              <!-- <p class="text-muted pl-4 ml-2 mb-2">Model :<span class="font-weight-bold ml-3 pl-2 text-dark"> {{Models}}</span></p> -->
        <!-- <div class="col-10 p-0 pb-3">
          <select class=" w-50 ml-1 text-muted" id="">
            <option disabled selected>Select Model</option>
            <option  class="text-dark" v-for="(Model,index) in Models" :key="index">{{Model}}</option>
      </select></div> -->
      </div>

      <div class="clearfix"></div>
      <p class="text-muted pl-2">Quantity : <span class="ml-3 border border-secondary rounded pt-2 pb-2 pr-3 pl-3 bg-white "> {{Quantity}}</span></p>
    </div>
    <div class=" bg-gry mt-3 rounded p-1">
      <div class="row pt-3 pr-3 pl-3">
        <div class="col-6 pb-3">
          <div class="row">
            <div class="col-6 text-right"><p class="text-muted  pr-3">Price :</p></div>
            <div class="col-6 p-0"><h6 class="font-weight-bold m-0">{{pPrice}}</h6> <p class="text-muted sml">{{apox}}</p></div>
          </div>
        </div>
        <div class="col-6">
        <!-- <a class="btn primry text-white font-weight-bold pl-4 pr-4">Buy It Now</a> -->
        </div>
        <div class="col-4 bg-light border text-center  pt-3 pb-2"><p class="text-success mb-0" style="line-height: 1;">2,992</p><small class="text-muted">Sold</small> </div>
        <div class="col-4 bg-light border text-center pt-3 pb-2"><p class="text-success mb-0" style="line-height: 1;">More than 94%</p><small class="text-muted">Sold</small> </div>
        <div class="col-4 bg-light border text-center pt-3 pb-2"><p class="text-success mb-0" style="line-height: 1;">Free</p><small class="text-muted">Shipping</small> </div>
      </div>
    </div>
    <div class="row pt-2 text-muted d-none">
      <div class="col-3 text-right"><p class="text-muted">Shipping : </p></div>
      <div class="col-9">
        <p class="text-dark">FREE Economy Shipping </p>
        <p class="text-muted" style="font-size:10px;">International items may be subject to customs processing and additional charges.<br>Item location: 深圳, 廣東省, China<br>
          Ships to:Worldwide See exclusions</p>
      </div>
      <div class="col-3 text-right"><p class="text-muted">Delivery : </p></div>
      <div class="col-9">
        <p class="">Varies for items shipped from an international location </p>
      </div>
      <div class="col-3 text-right"><p class="text-muted">Payments : </p></div>
      <div class="col-9">
        <img src="" alt="">
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: 'productD',
  props:['productName','update','Quantity','Condition','Models','pPrice','apox'],
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.Pheding{
  letter-spacing: -1px;
}
.productD p{
  font-size: 12px;
  margin-bottom: 5px;
}
.bg-gry{
  background:#e2e2e2;
}
.sml {
    font-size: 11px !important;
}
.primry {
    background: -webkit-gradient(linear,left top,left bottom,from(#0079bc),to(#00509d));
}
.primry:hover {
    background: -webkit-gradient(linear,left top,left bottom,from(#199ae1),to(#103c67));
}
</style>
