<template>
  <div >
    <img :src="PDimg" alt="" class=" p-1 border">
    <div class="row m-4">
      <div class="col-2 p-1 border" v-for="(futerImg,index) in futerImgs" :key="index">
        <img :src="futerImg.link" alt="">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'productImg',
  props:['PDimg','futerImgs'],
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
img{
  width: 100%;
  height: auto;
}
</style>
