<template>
  <div class="bg-white p-3">
  <a @click.prevent="handleClick" href="detail" class="text-dark ancr">
    <img :src="img" alt="" class="img-fluid w-100">
    <p class=" mt-2 mb-0 detail">{{detail}}</p>
    <p class="price mt-2 mb-1">{{price}}</p>
    <small class="text-danger itemSold">{{itemSold}}</small>
    <small class="text-muted mr-3"><del class=" mr-3">{{del}}</del><strong >{{offer}}</strong></small>
    <small class="text-muted">{{moreOption}}</small>

  </a>
  </div>
</template>

<script>
export default {
  name: 'productCard',
  props:['id','detail','itemSold','price','offer','del' ,'img','moreOption',"truncate"],
  data () {
    return {
    }
  },
  methods:{
     handleClick()
    {
      this.$emit('click');
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
a:hover small,a:hover h4 {
  text-decoration: none;
}
.detail{
    width: 100%;
    -webkit-line-clamp: 2;
    display: -webkit-inline-box;
    vertical-align: middle;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.price{
  font-size: 16px;
  color: #333;
  font-weight: bold;
}
.itemSold{
  font-size: 12px;
}
a:hover .itemSold{
  text-decoration: none !important;
}
</style>
