<template>
  <div class="bg-light">
    <div class="container">
      <nav aria-label="breadcrumb border">
        <ol class="breadcrumb bg-t">
          <li class="breadcrumb-item"><a href="#" class="text-dark">Home</a></li>
          <li class="breadcrumb-item"><a href="#" class="text-dark">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
      </nav>
      <!-- banner -->
      <img src="https://www.samsung.com/us/apps/assets/images/hero-devices.png" class="d-block w-100 mb-5 border pt-3" alt="..." style="height:350px;">

      <div  class="row pb-5">
        <div class="col-md-3 col-sm-6 pb-3 p-2" v-for="(item,index) in productData" :key="index" >
          <!-- <productCard @click="handleDetail(index)" :id="pCard.id" :detail="pCard.subtitle"  :del="pCard.price" :img="pCard.feature_photo" :truncate="pCard.description"></productCard> -->
          <productCard  @click="handleDetail(index)"  :price="item.price" :del="item.price" :ItemName='item.title'
                :cardImgUrl="item.feature_photo" />
        </div>
      </div>
    </div>

  </div>
</template>

<script>
 import productCard  from '@/components/cards';
export default {
  name: 'product',
  components:{productCard},
    mounted(){
     this.$store.dispatch('loadProductData');
  },
  computed:{

      productData(){
        return this.$store.state.productDetail.productData;
        },
  },
  data () {
    return {
    }
  },

  methods:{
    
    handleDetail(index)
    {
      var id = this.productData[index].id;
      this.$router.push("/product/"+id); 
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.bg-t{
  background:transparent;
}
.breadcrumb {
    font-size: 13px;
    margin-bottom: 4px;
}
</style>
