<template>
  <div >
    <div class="row p-3">
      <div class="col-md-4 border p-1">
        <img :src="serchImg" alt="">
      </div>
      <div class="col-md-8">
        <h6 class="text-primary mb-0">{{serchHeading}}</h6>
        <small class="text-muted">{{brand}}</small>
        <h4 class="font-weight-bold pt-3">{{fromPrice}} <small>to</small> {{toprice}}</h4>
        <small class="text-muted mb-0">{{buy}}</small>
        <p class="text-danger font-weight-bold" style="font-size:14px">{{soldItemRatio}}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'serchCard',
  props:['serchImg','serchHeading','brand','fromPrice','toprice','buy','soldItemRatio'],
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
img{
  width: 100%;
  height: auto;
}
</style>
