<template>
  <div class="container-fluid bg-light">
    <div class="row">
    <div class="col-md-3">
      <sideBar></sideBar>
    </div>
    <div class="col-md-7 bg-white border mb-2">
      <div class=" p-2 border-bottom" v-for="(srchCrd,index) in srchCrds" :key="index" >
        <serchCard :serchImg='srchCrd.serchImg' :serchHeading='srchCrd.serchHeading' :brand='srchCrd.brand' :fromPrice='srchCrd.fromPrice' :toprice='srchCrd.toprice'
        :buy='srchCrd.buy' :soldItemRatio='srchCrd.soldItemRatio'></serchCard>
      </div>

    </div>
    <div class="col-md-2"></div>

    </div>

  </div>
</template>

<script>
  import serchCard from '@/components/serchCard';
  import sideBar from '@/components/sideBar';
export default {
  name: 'searchResullt',
  components:{serchCard,sideBar},
  data () {
    return {
      srchCrds:[
        {
          serchImg :'https://i.ebayimg.com/images/g/244AAOSwIddcIdl2/s-l225.webp',
          serchHeading:'NodeMcu V3 Lua CH340G ESP8266 I/O Breakout Expansion/Development Board Module',
          brand:'Brand New',
          fromPrice:'$1.80',
          toprice:'$3.10',
          buy:'Buy It Now',
          soldItemRatio:'2,594+ Sold'
        },
        {
          serchImg :'https://i.ebayimg.com/images/g/244AAOSwIddcIdl2/s-l225.webp',
          serchHeading:'NodeMcu V3 Lua CH340G ESP8266 I/O Breakout Expansion/Development Board Module',
          brand:'Brand New',
          fromPrice:'$1.80',
          toprice:'$3.10',
          buy:'Buy It Now',
          soldItemRatio:'2,594+ Sold'
        },
        {
          serchImg :'https://i.ebayimg.com/images/g/244AAOSwIddcIdl2/s-l225.webp',
          serchHeading:'NodeMcu V3 Lua CH340G ESP8266 I/O Breakout Expansion/Development Board Module',
          brand:'Brand New',
          fromPrice:'$1.80',
          toprice:'$3.10',
          buy:'Buy It Now',
          soldItemRatio:'2,594+ Sold'
        },

      ]
    }

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
