<template>
  <div >
    <div class="panel-heading" role="tab" :id='idHead'>
      <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordionMenu" :href="collapseUrl" aria-expanded="true" aria-controls="collapseOne">
        <svg id="svg-icon-chevron-light-left" viewBox="4 0 32 32" width="100%" height="100%" class="float-left">
          <path d="M28.18 1.33a1.23 1.23 0 0 0-1.72 0L12.4 15.38c-.23.23-.39.54-.39.85s.16.63.39.86l13.58
           13.59c.24.23.55.39.86.39s.62-.16.86-.4c.47-.46.47-1.24 0-1.71L14.99 16.24l13.19-13.2c.47-.46.47-1.24 0-1.71z">
          </path>
        </svg>
        {{menuName}}
      </a>
      <div class="clearfix"></div>
    </h4>
    </div>
    <div :id="collapse" class="panel-collapse collapse in" role="tabpanel" :aria-labelledby='idHead'>
      <div class="panel-body">
        <ul>
          <li v-for="(sideMnueItem,index) in sideMnueItems" :key="index"><a href="#" >{{sideMnueItem}}</a></li>
        </ul>
      </div>
    </div>
    </div>

</template>

<script>
export default {
  name: 'sideDropDown',
  props:['idHead','sideMnueItems','menuName','collapse','collapseUrl'],
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h4.panel-title {
    font-size: 15px;
}
h4.panel-title a {
    color: #0654ba;
}
svg{
  margin-right: 0px;
  height: 9px;
  width: 8px;
  fill: #0654ba;
  stroke: #0654ba;
  margin-top: 4.37px;
}
</style>
