<template>
  <div >
  <h6 class="font-weight-bold mt-4  pl-1">Categories:</h6>
    <a class=" font-weight-bold">All</a>
    <div class="panel-group pl-3 " id="accordionMenu" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default" v-for="(sidemenu,index) in sidemenus" :key="index">
        <sideDropDown :idHead='sidemenu.idHead' :collapse='sidemenu.collapse' :collapseUrl='sidemenu.collapseUrl' :menuName='sidemenu.menuName'
        :sideMnueItems='sidemenu.sideMnueItems'></sideDropDown>
      </div>

  </div>
  </div>
</template>

<script>
import sideDropDown from '@/components/sideDropDown';
export default {
  name: 'sideBar',
  components:{sideDropDown},
  props:[''],
  data () {
    return {
      sidemenus:[
        {
          idHead:'heading1',
          menuName:'Menu1',
          sideMnueItems:['item1','item2'],
          collapse:'collapse1',
          collapseUrl:'#collapse1'
        },
        {
          idHead:'heading2',
          menuName:'Menu2',
          sideMnueItems:['item1','item2'],
          collapse:'collapse2',
          collapseUrl:'#collapse2'
        },
        {
          idHead:'heading3',
          menuName:'Menu3',
          sideMnueItems:['item1','item2'],
          collapse:'collapse3',
          collapseUrl:'#collapse3'
        },
        {
          idHead:'heading4',
          menuName:'Menu4',
          sideMnueItems:['item1','item2'],
          collapse:'collapse4',
          collapseUrl:'#collapse4'
        }
      ],
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h4.panel-title {
    font-size: 15px;
}
h4.panel-title a {
    color: #0654ba;
}
 a {
   font-size: 15px !important;
    color: #0654ba !important;
}
</style>
