<template>
  <div >
    <div class="container-fluid">
      <div class="row mt-5 mb-5 pt-md-5 pb-md-5">
        <div class="col-lg-2 d-none d-lg-block"></div>
        <div class="col-lg-8">
          <div class="text-center">
            <h1 class="font-weight-bold">Hello</h1>
            <p class="signInP">Sign in to dealDone or <a  @click.prevent="handleClickSignUp" class="text-primary " ><u>create an account</u></a></p>
          </div>
          <div class="row ">
            <div class="col-md-5">
              <form action="">
                <label class="signLable" >Mobile Number</label>
                <input type="text" required class="form-control signInput mb-3" aria-describedby="emailHelp" placeholder="">

                <label class="signLable" >Password</label>
                <input type="password" required class="form-control signInput mb-5" aria-describedby="passwordHelp" placeholder="">
                  <button type="submit" class="btn btn-lg btn-block btn-primary rounded-0 mb-3 font-weight-bold">Sign In</button>
                  <div class=" d-block d-md-none ml-4">
                    <input type="checkbox" class="form-check-input " id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div>
                <div class="text-center">
                  <small><a href="" class="text-primary">Forget Password</a></small>
                </div>
              </form>

            </div>
            <div class="col-md-2 d-none d-md-block text-center">
              <div class=" line"></div>
              <div class="or">with</div>
              <div class=" line" ></div>
              <div class="mt-5 pt-4 ">
                <input type="checkbox" class="form-check-input ml-1" id="exampleCheck1">
                <label class="form-check-label ml-3" for="exampleCheck1">Check me out</label>
              </div>

            </div>
            <div class="col-md-5 pt-md-5 pt-3 mt-md-3 d-md-block d-none">
              <!-- logo -->
						<a href="./index.html" class="site-logo display-3">
							Deal Done
						</a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 d-none d-lg-block"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'signIn',
  props:[],
  data () {
    return {
    }
  },
  methods:{
    handleClickSignUp()
    {
      this.$router.push("/signUp");
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.signInP{
  font-size: 14px;
}
.signInput{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    margin-top: -5px;
    height: 1.875rem;
    font-size: .875rem;

}
.site-logo {
    display: inline-block;
    font-family: 'Tangerine', cursive;
    color: #ce0c0c;
}
.signLable {
  font-size: 12px;
  margin: 0;
  padding-left: 3px;
  color: #6e6e6e;
}
.signInput:focus {
    color: #495057;
    background-color: #fff;
    border-color: black;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
}
.line {
    width: 123px;
    height: 0.49999999px;
    background: #6e6e6e42;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 58px;
}
.or {
    color: #000000d4;
    font-size: 14px;
    margin-top: 57px;
    margin-left: 2px;
}
.btn i {
    margin-right: 27px;
}
</style>
