<template>
  <div class="mt-3">
    <div class="container">
      <vendorProfileComp :id="vendor_id"></vendorProfileComp>
      <div class="container-fluid">
        <div class="row mt-3 mb-5">
          <!-- <div class="col-md-3 d-none d-md-block">
            <h6 class="font-weight-bold mt-4  pl-1">Categories:</h6>
            <a class=" font-weight-bold">All</a>
            <ul class="pl-2">
              <a href=""  v-for="(categoryName,index) in categoryList" :key="index"  class="text-dark"><li style="list-style-type: none; font-size: 14px;">{{categoryName}}</li></a>
            </ul>
          </div> -->
          <div class="col-md-11 m-auto p-0">
            <h5 class="font-weight-bold mt-3 mb-3"> Item For Sale</h5>
            <div class="row m-0">
              <div class="col-lg-3 col-md-4 col-sm-6 p-0" v-for="(item,index) in items" :key="index" >
                <productCard class="m-1   border"  @click="handleDetail(index)"  :price="item.price" :del="item.price" :ItemName='item.title'
                :cardImgUrl="item.feature_photo" />

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
//import productCard from '@/components/productCard';
import productCard from '@/components/cards';
import vendorProfileComp from '@/components/vendorProfileComp';
import sideDropDown from '@/components/sideDropDown';
export default {
  name: 'vendorStore',
  components:{productCard,vendorProfileComp,sideDropDown},
    mounted(){
      this.$store.dispatch('loadVendorProducts',this.vendor_id)
      .then(data=>{
        this.items = data
      })
    },
  data () {
    return {
      //values binded with props of parents components
      vendor_id:this.$route.params.id,
      items:[
        // {
        //   price:'PriceOfItem',
        //   img:'https://i.ebayimg.com/00/s/ODAwWDgwMA==/z/DiUAAOSwIJlZ5wiJ/$_1.JPG',
        //   itemSold:'Item sold',
        //   detail:'Name of product  example NodeMcu V3 Lua CH340G ESP8266 I/O Breakout Expansion/Development Board '
        // },
        // {
        //   price:'PriceOfItem',
        //   img:'https://i.ebayimg.com/00/s/ODAwWDgwMA==/z/DiUAAOSwIJlZ5wiJ/$_1.JPG',
        //   itemSold:'Item sold',
        //   detail:'Name of product  example NodeMcu V3 Lua CH340G ESP8266 I/O Breakout Expansion/Development Board '
        // },
        // {
        //   price:'PriceOfItem',
        //   img:'https://i.ebayimg.com/00/s/ODAwWDgwMA==/z/DiUAAOSwIJlZ5wiJ/$_1.JPG',
        //   itemSold:'Item sold',
        //   detail:'Name of product  example NodeMcu V3 Lua CH340G ESP8266 I/O Breakout Expansion/Development Board '
        // }
      ],
      categoryList:[
       " category1","category2","category3"
      ]

    }
  },
  methods:{
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
