<template>
  <div class="">
    <div class="bgImg text-right pr-3">
      <i class="fa fa-envelope text-secondary pr-1" aria-hidden="true" style="font-size: 20px; margin-top: 4px;"></i>
      <i class="fa fa-facebook text-center icnSiz" aria-hidden="true" style="background:#3b5998; color:white;"></i>
      <i class="fa fa-instagram insta text-center icnSiz text-white" aria-hidden="true" ></i>
      <i class="fa fa-twitter text-white icnSiz  text-center" aria-hidden="true" style="background: #00acee;"></i>
      <i class="fa fa-pinterest  text-white icnSiz  text-center" aria-hidden="true"  style="background: #c8232c; font-size: 16px;
      padding-top: 0.7px;"></i>
      <i class="fa fa-globe" aria-hidden="true" style="    font-size: 18px; padding-top: 5px;"></i>
    </div>
    <div class="m-2 w-75 m-auto shadow border" style="margin-top: -159px !important;">
      <div class="row pt-2 m-0" style="background:#f9f9f9">
        <div class="col-lg-5 p-0">
          <div class="float-left pl-2 pr-2"><img :src="company.logo" alt="" style="width:150px;height:150px;"></div>
          <div class="mt-3 float-left">
            <a href="" style="color: #333; font-size: 16px; font-weight: bold;">{{company.company_name}}</a>
            <p style="color: #777; font-size: 12px; line-height: 0.7;">{{percentageFeedback}}positive feedback</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-lg-7 text-right">
          <i class="fa fa-envelope pr-2" aria-hidden="true" style="color:#0654ba !important; font-size:13px;"></i><a href="" style="color:#0654ba !important; font-size:13px;">Contact</a>
          <p class="pt-3" style="color:#333;font-size: 14px;line-height: 18px;margin-bottom: 0;">{{company.company_name}} has been an Deal Done member since {{company.created_at.split(' ')[0]}}</p>
        </div>
      </div>
      <div class="p-2 m-0 bg-white">
        <p class="font-weight-bold pl-2 text-dark" style=" font-size: 14px;">Feedback ratings</p>
        <div class="row pb-3">
          <div class="col-lg-4 col-md-6 border-right">
            <ul class="p-0 pl-2 d-inline">
              <li class="stars"><i class="fa fa-star" aria-hidden="true"></i></li>
              <li class="stars"><i class="fa fa-star" aria-hidden="true"></i></li>
              <li class="stars"><i class="fa fa-star" aria-hidden="true"></i></li>
              <li class="stars"><i class="fa fa-star" aria-hidden="true"></i></li>
              <li class="stars"><i class="fa fa-star" aria-hidden="true"></i></li>
            </ul>
            <span class="font-weight-bold" style="padding: 5px 0 2px 10px; font-size: 14px;  color: #555 !important;">{{rsponceTime}}</span>
            <span style="line-height: 14px; margin-top: 4px; color: #777;font-size: 12px;">Responce Time</span><br>
            <ul class="p-0 pl-2 d-inline">
              <li class="stars"><i class="fa fa-star" aria-hidden="true"></i></li>
              <li class="stars"><i class="fa fa-star" aria-hidden="true"></i></li>
              <li class="stars"><i class="fa fa-star" aria-hidden="true"></i></li>
              <li class="stars"><i class="fa fa-star" aria-hidden="true"></i></li>
              <li class="stars"><i class="fa fa-star" aria-hidden="true"></i></li>
            </ul>
            <span class="font-weight-bold" style="padding: 5px 0 2px 10px; font-size: 14px;  color: #555 !important;">{{itemQuilty}}</span>
            <span style="line-height: 14px; margin-top: 4px; color: #777;font-size: 12px;">Quailty</span><br>
          </div>
          <div class="col-lg-4 col-md-6">
            <div id="feedback_ratings" class=" scores">
              <a href="" title="Positive">
                <div class="score">
                  <i class="fa fa-plus-circle mr-1" aria-hidden="true" style="color:#3b873b;"></i><span class="num">26,708</span>
                  <p class="txt">Positive</p>
                </div>
              </a>
              <a href="" title="Neutral">
                <div class="score">
                  <div class="nutrlcrcl bg-secondary d-inline-block m-0 mr-1 position-relative"><i class="fa fa-square text-white bg-secondary" style="position: absolute; top: 4px; right: 5px;" aria-hidden="true"></i></div><span class="num">97</span><p class="txt">Neutral</p>
                </div>
              </a>
              <a href="" title="Negative">
                <div class="score">
                  <i class="fa fa-minus-circle mr-1" aria-hidden="true" style="color:#d22908;"></i><span class="num">94</span><p class="txt">Negative</p>
                </div>
              </a>
              <div class="clearfix"></div>
              <div class="descpt pt-4">Feedback from the last 12 months</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6"></div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'vendorProfileComp',
  props:['id'],
  mounted(){
    this.$store.dispatch('loadCompany',this.id)
    .then(data=>{
      this.company = data
    })
  },
  data () {
    return {

      company:{},
      percentageFeedback:'98%',
      MembershipTimePeriod:'Nov 08, 2015',
      rsponceTime:'18,800',
      itemQuilty:'18,365'
    }
  },
  methods:{

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.bgImg{
  background: url('https://ir.ebaystatic.com/pictures/aw/social/profile_coverimg_wood.jpg');
  height: 215px;
  widows: 100%;
}
.icnSiz{
    width: 17px;
    font-size: 13px;
    padding: 3px 0px;
    border-radius: 2px;
}
.insta{
background: #f09433;
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
li.stars {
    list-style-type: none;
    display: initial;
    color: #f3b700;
}
.scores {
    text-align: center;
    color: #999;
    padding: 15px 5px 0px 30px;
}
.score {
    width: 30%;
    margin-right: 3%;
    height: 40px;
    float: left;
}
.num {
    color: #333;
    font-weight: bold;
    font-size: 14px;
}
.txt {
  font-size: 13px;
    color: #777;
}
.descpt {
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: #767676;
}
.nutrlcrcl{
    width: 14px;
    font-size: 5px;
    height: 14px;
    text-align: center;
    padding-top: 8px;
    border-radius: 100%;
}
</style>
