<template>
  <div id="app">
  <myHeader></myHeader>
    <router-view/>
    <footer class="w-100 bg-dark  text-center">
      <p class="pt-2 mb-0 pb-2 text-white">Copyright &copy; 2019 DealDone Inc All Rights Reserved</p>
    </footer>
  </div>
</template>

<script>
import myHeader from '@/components/header';
export default {
  name: 'App',
  components:{myHeader},
}
</script>
<style src="../src/assets/css/bootstrap.css"></style>
<style src="../src/assets/fonts/css/font-awesome.css"></style>
<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
footer{
    font-size: 11px;
}
</style>
